<h1>Instructions</h1>
<h2>
	1.In this app , there are two positions: ADMIN and EMPLOYEERS<br><br>
	2.Functions of a Employee:<br>
		&nbsp;&nbsp;a.employee can request for overtime in any organisation<br>
		&nbsp;&nbsp;b.once his overtime is overview by admin , then notifications will be send to him .<br>
		&nbsp;&nbsp;c.there is an audit functionality which checks regularly if the employee has &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;requested for overtime and gets deleted or revived back through callbacks &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;functionality.<br><br>
	3.Functions of an Admin:<br>
		&nbsp;&nbsp;a.he will review the overtime requests.<br>
		&nbsp;&nbsp;b.if request is confirmed , then the employee would come to know. if the request is &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;rejected , then also the employee would be asked to fill another request .<br>
		&nbsp;&nbsp;c.has control over the all employees externally.<br><br>
	4.only employees and admin could login to the application . No guest user is allowed .<br><br>
	5.There are many more functonalities that this app provides .<br><br>
	5.THANK YOU
</h2>