<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>
        #
      </th>
      <th>
        Date
      </th>
      <th>
        User
      </th>

      <th></th>
    </tr>

  </thead>
  <tbody id="posts">
    <%= render @todaysPosts %>
  </tbody>
</table>